{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-es2015-computed-properties",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
