.sacrifice {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sacrifice-mandala90001 {
    width: 1213px;
    height: 1213px;
    background-position: 0 0;
}

.sacrifice-mandala90002 {
    width: 1213px;
    height: 1213px;
    background-position: -1213px 0;
}

.sacrifice-mandala90003 {
    width: 1213px;
    height: 1213px;
    background-position: -2426px 0;
}
