.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-birdSpawnGraphic0001 {
    width: 656px;
    height: 668px;
    background-position: -5px -5px;
}

.sprite-birdSpawnGraphic0002 {
    width: 656px;
    height: 668px;
    background-position: -671px -5px;
}

.sprite-birdSpawnGraphic0003 {
    width: 656px;
    height: 668px;
    background-position: -1337px -5px;
}

.sprite-birdSpawnGraphic0004 {
    width: 656px;
    height: 668px;
    background-position: -2003px -5px;
}

.sprite-birdSpawnGraphic0005 {
    width: 656px;
    height: 668px;
    background-position: -2669px -5px;
}

.sprite-birdSpawnGraphic0006 {
    width: 656px;
    height: 668px;
    background-position: -3335px -5px;
}

.sprite-birdSpawnGraphic0007 {
    width: 656px;
    height: 668px;
    background-position: -4001px -5px;
}

.sprite-birdSpawnGraphic0008 {
    width: 656px;
    height: 668px;
    background-position: -4667px -5px;
}

.sprite-birdSpawnGraphic0009 {
    width: 656px;
    height: 668px;
    background-position: -5333px -5px;
}

.sprite-birdSpawnGraphic0010 {
    width: 656px;
    height: 668px;
    background-position: -5999px -5px;
}

.sprite-birdSpawnGraphic0011 {
    width: 656px;
    height: 668px;
    background-position: -6665px -5px;
}

.sprite-birdSpawnGraphic0012 {
    width: 656px;
    height: 668px;
    background-position: -7331px -5px;
}

.sprite-birdSpawnGraphic0013 {
    width: 656px;
    height: 668px;
    background-position: -7997px -5px;
}

.sprite-birdSpawnGraphic0014 {
    width: 656px;
    height: 668px;
    background-position: -8663px -5px;
}

.sprite-birdSpawnGraphic0015 {
    width: 656px;
    height: 668px;
    background-position: -9329px -5px;
}

.sprite-birdSpawnGraphic0016 {
    width: 656px;
    height: 668px;
    background-position: -9995px -5px;
}

.sprite-birdSpawnGraphic0017 {
    width: 656px;
    height: 668px;
    background-position: -10661px -5px;
}

.sprite-birdSpawnGraphic0018 {
    width: 656px;
    height: 668px;
    background-position: -11327px -5px;
}

.sprite-birdSpawnGraphic0019 {
    width: 656px;
    height: 668px;
    background-position: -11993px -5px;
}

.sprite-birdSpawnGraphic0020 {
    width: 656px;
    height: 668px;
    background-position: -12659px -5px;
}

.sprite-birdSpawnGraphic0021 {
    width: 656px;
    height: 668px;
    background-position: -13325px -5px;
}

.sprite-birdSpawnGraphic0022 {
    width: 656px;
    height: 668px;
    background-position: -13991px -5px;
}

.sprite-birdSpawnGraphic0023 {
    width: 656px;
    height: 668px;
    background-position: -14657px -5px;
}

.sprite-birdSpawnGraphic0024 {
    width: 656px;
    height: 668px;
    background-position: -15323px -5px;
}

.sprite-birdSpawnGraphic0025 {
    width: 656px;
    height: 668px;
    background-position: -15989px -5px;
}

.sprite-birdSpawnGraphic0026 {
    width: 656px;
    height: 668px;
    background-position: -16655px -5px;
}

.sprite-birdSpawnGraphic0027 {
    width: 656px;
    height: 668px;
    background-position: -17321px -5px;
}

.sprite-birdSpawnGraphic0028 {
    width: 656px;
    height: 668px;
    background-position: -17987px -5px;
}

.sprite-birdSpawnGraphic0029 {
    width: 656px;
    height: 668px;
    background-position: -18653px -5px;
}

.sprite-birdSpawnGraphic0030 {
    width: 656px;
    height: 668px;
    background-position: -19319px -5px;
}

.sprite-birdSpawnGraphic0031 {
    width: 656px;
    height: 668px;
    background-position: -19985px -5px;
}

.sprite-birdSpawnGraphic0032 {
    width: 656px;
    height: 668px;
    background-position: -20651px -5px;
}

.sprite-birdSpawnGraphic0033 {
    width: 656px;
    height: 668px;
    background-position: -21317px -5px;
}

.sprite-birdSpawnGraphic0034 {
    width: 656px;
    height: 668px;
    background-position: -21983px -5px;
}

.sprite-birdSpawnGraphic0035 {
    width: 656px;
    height: 668px;
    background-position: -22649px -5px;
}

.sprite-birdSpawnGraphic0036 {
    width: 656px;
    height: 668px;
    background-position: -23315px -5px;
}

.sprite-birdSpawnGraphic0037 {
    width: 656px;
    height: 668px;
    background-position: -23981px -5px;
}

.sprite-birdSpawnGraphic0038 {
    width: 656px;
    height: 668px;
    background-position: -24647px -5px;
}

.sprite-birdSpawnGraphic0039 {
    width: 656px;
    height: 668px;
    background-position: -25313px -5px;
}

.sprite-birdSpawnGraphic0040 {
    width: 656px;
    height: 668px;
    background-position: -25979px -5px;
}

.sprite-birdSpawnGraphic0041 {
    width: 656px;
    height: 668px;
    background-position: -26645px -5px;
}

.sprite-birdSpawnGraphic0042 {
    width: 656px;
    height: 668px;
    background-position: -27311px -5px;
}

.sprite-birdSpawnGraphic0043 {
    width: 656px;
    height: 668px;
    background-position: -27977px -5px;
}

.sprite-birdSpawnGraphic0044 {
    width: 656px;
    height: 668px;
    background-position: -28643px -5px;
}

.sprite-birdSpawnGraphic0045 {
    width: 656px;
    height: 668px;
    background-position: -29309px -5px;
}

.sprite-birdSpawnGraphic0046 {
    width: 656px;
    height: 668px;
    background-position: -29975px -5px;
}

.sprite-birdSpawnGraphic0047 {
    width: 656px;
    height: 668px;
    background-position: -30641px -5px;
}

.sprite-birdSpawnGraphic0048 {
    width: 656px;
    height: 668px;
    background-position: -31307px -5px;
}

.sprite-birdSpawnGraphic0049 {
    width: 656px;
    height: 668px;
    background-position: -31973px -5px;
}
