.sacrifice {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sacrifice-birdSacrificeGraphic0001 {
    width: 60px;
    height: 81px;
    background-position: 0 0;
}

.sacrifice-birdSacrificeGraphic0002 {
    width: 60px;
    height: 81px;
    background-position: -60px 0;
}

.sacrifice-birdSacrificeGraphic0003 {
    width: 60px;
    height: 81px;
    background-position: -120px 0;
}

.sacrifice-birdSacrificeGraphic0004 {
    width: 60px;
    height: 81px;
    background-position: -180px 0;
}

.sacrifice-birdSacrificeGraphic0005 {
    width: 60px;
    height: 81px;
    background-position: -240px 0;
}

.sacrifice-birdSacrificeGraphic0006 {
    width: 60px;
    height: 81px;
    background-position: -300px 0;
}

.sacrifice-birdSacrificeGraphic0007 {
    width: 60px;
    height: 81px;
    background-position: -360px 0;
}

.sacrifice-birdSacrificeGraphic0008 {
    width: 60px;
    height: 81px;
    background-position: -420px 0;
}

.sacrifice-birdSacrificeGraphic0009 {
    width: 60px;
    height: 81px;
    background-position: -480px 0;
}

.sacrifice-birdSacrificeGraphic0010 {
    width: 60px;
    height: 81px;
    background-position: -540px 0;
}

.sacrifice-birdSacrificeGraphic0011 {
    width: 60px;
    height: 81px;
    background-position: -600px 0;
}

.sacrifice-birdSacrificeGraphic0012 {
    width: 60px;
    height: 81px;
    background-position: -660px 0;
}

.sacrifice-birdSacrificeGraphic0013 {
    width: 60px;
    height: 81px;
    background-position: -720px 0;
}

.sacrifice-birdSacrificeGraphic0014 {
    width: 60px;
    height: 81px;
    background-position: -780px 0;
}

.sacrifice-birdSacrificeGraphic0015 {
    width: 60px;
    height: 81px;
    background-position: -840px 0;
}

.sacrifice-birdSacrificeGraphic0016 {
    width: 60px;
    height: 81px;
    background-position: -900px 0;
}

.sacrifice-birdSacrificeGraphic0017 {
    width: 60px;
    height: 81px;
    background-position: -960px 0;
}

.sacrifice-birdSacrificeGraphic0018 {
    width: 60px;
    height: 81px;
    background-position: -1020px 0;
}
