.sacrifice {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sacrifice-BirdIdleGhost0001 {
    width: 238px;
    height: 222px;
    background-position: 0 0;
}

.sacrifice-BirdIdleGhost0002 {
    width: 238px;
    height: 222px;
    background-position: -238px 0;
}

.sacrifice-BirdIdleGhost0003 {
    width: 238px;
    height: 222px;
    background-position: -476px 0;
}

.sacrifice-BirdIdleGhost0004 {
    width: 238px;
    height: 222px;
    background-position: -714px 0;
}

.sacrifice-BirdIdleGhost0005 {
    width: 238px;
    height: 222px;
    background-position: -952px 0;
}

.sacrifice-BirdIdleGhost0006 {
    width: 238px;
    height: 222px;
    background-position: -1190px 0;
}

.sacrifice-BirdIdleGhost0007 {
    width: 238px;
    height: 222px;
    background-position: -1428px 0;
}

.sacrifice-BirdIdleGhost0008 {
    width: 238px;
    height: 222px;
    background-position: -1666px 0;
}

.sacrifice-BirdIdleGhost0009 {
    width: 238px;
    height: 222px;
    background-position: -1904px 0;
}

.sacrifice-BirdIdleGhost0010 {
    width: 238px;
    height: 222px;
    background-position: -2142px 0;
}

.sacrifice-BirdIdleGhost0011 {
    width: 238px;
    height: 222px;
    background-position: -2380px 0;
}

.sacrifice-BirdIdleGhost0012 {
    width: 238px;
    height: 222px;
    background-position: -2618px 0;
}

.sacrifice-BirdIdleGhost0013 {
    width: 238px;
    height: 222px;
    background-position: -2856px 0;
}

.sacrifice-BirdIdleGhost0014 {
    width: 238px;
    height: 222px;
    background-position: -3094px 0;
}

.sacrifice-BirdIdleGhost0015 {
    width: 238px;
    height: 222px;
    background-position: -3332px 0;
}

.sacrifice-BirdIdleGhost0016 {
    width: 238px;
    height: 222px;
    background-position: -3570px 0;
}

.sacrifice-BirdIdleGhost0017 {
    width: 238px;
    height: 222px;
    background-position: -3808px 0;
}

.sacrifice-BirdIdleGhost0018 {
    width: 238px;
    height: 222px;
    background-position: -4046px 0;
}

.sacrifice-BirdIdleGhost0019 {
    width: 238px;
    height: 222px;
    background-position: -4284px 0;
}

.sacrifice-BirdIdleGhost0020 {
    width: 238px;
    height: 222px;
    background-position: -4522px 0;
}

.sacrifice-BirdIdleGhost0021 {
    width: 238px;
    height: 222px;
    background-position: -4760px 0;
}

.sacrifice-BirdIdleGhost0022 {
    width: 238px;
    height: 222px;
    background-position: -4998px 0;
}

.sacrifice-BirdIdleGhost0023 {
    width: 238px;
    height: 222px;
    background-position: -5236px 0;
}

.sacrifice-BirdIdleGhost0024 {
    width: 238px;
    height: 222px;
    background-position: -5474px 0;
}

.sacrifice-BirdIdleGhost0025 {
    width: 238px;
    height: 222px;
    background-position: -5712px 0;
}

.sacrifice-BirdIdleGhost0026 {
    width: 238px;
    height: 222px;
    background-position: -5950px 0;
}

.sacrifice-BirdIdleGhost0027 {
    width: 238px;
    height: 222px;
    background-position: -6188px 0;
}

.sacrifice-BirdIdleGhost0028 {
    width: 238px;
    height: 222px;
    background-position: -6426px 0;
}

.sacrifice-BirdIdleGhost0029 {
    width: 238px;
    height: 222px;
    background-position: -6664px 0;
}

.sacrifice-BirdIdleGhost0030 {
    width: 238px;
    height: 222px;
    background-position: -6902px 0;
}

.sacrifice-BirdIdleGhost0031 {
    width: 238px;
    height: 222px;
    background-position: -7140px 0;
}

.sacrifice-BirdIdleGhost0032 {
    width: 238px;
    height: 222px;
    background-position: -7378px 0;
}

.sacrifice-BirdIdleGhost0033 {
    width: 238px;
    height: 222px;
    background-position: -7616px 0;
}

.sacrifice-BirdIdleGhost0034 {
    width: 238px;
    height: 222px;
    background-position: -7854px 0;
}

.sacrifice-BirdIdleGhost0035 {
    width: 238px;
    height: 222px;
    background-position: -8092px 0;
}

.sacrifice-BirdIdleGhost0036 {
    width: 238px;
    height: 222px;
    background-position: -8330px 0;
}

.sacrifice-BirdIdleGhost0037 {
    width: 238px;
    height: 222px;
    background-position: -8568px 0;
}

.sacrifice-BirdIdleGhost0038 {
    width: 238px;
    height: 222px;
    background-position: -8806px 0;
}

.sacrifice-BirdIdleGhost0039 {
    width: 238px;
    height: 222px;
    background-position: -9044px 0;
}

.sacrifice-BirdIdleGhost0040 {
    width: 238px;
    height: 222px;
    background-position: -9282px 0;
}

.sacrifice-BirdIdleGhost0041 {
    width: 238px;
    height: 222px;
    background-position: -9520px 0;
}

.sacrifice-BirdIdleGhost0042 {
    width: 238px;
    height: 222px;
    background-position: -9758px 0;
}

.sacrifice-BirdIdleGhost0043 {
    width: 238px;
    height: 222px;
    background-position: -9996px 0;
}

.sacrifice-BirdIdleGhost0044 {
    width: 238px;
    height: 222px;
    background-position: -10234px 0;
}

.sacrifice-BirdIdleGhost0045 {
    width: 238px;
    height: 222px;
    background-position: -10472px 0;
}

.sacrifice-BirdIdleGhost0046 {
    width: 238px;
    height: 222px;
    background-position: -10710px 0;
}

.sacrifice-BirdIdleGhost0047 {
    width: 238px;
    height: 222px;
    background-position: -10948px 0;
}

.sacrifice-BirdIdleGhost0048 {
    width: 238px;
    height: 222px;
    background-position: -11186px 0;
}

.sacrifice-BirdIdleGhost0049 {
    width: 238px;
    height: 222px;
    background-position: -11424px 0;
}

.sacrifice-BirdIdleGhost0050 {
    width: 238px;
    height: 222px;
    background-position: -11662px 0;
}

.sacrifice-BirdIdleGhost0051 {
    width: 238px;
    height: 222px;
    background-position: -11900px 0;
}

.sacrifice-BirdIdleGhost0052 {
    width: 238px;
    height: 222px;
    background-position: -12138px 0;
}

.sacrifice-BirdIdleGhost0053 {
    width: 238px;
    height: 222px;
    background-position: -12376px 0;
}

.sacrifice-BirdIdleGhost0054 {
    width: 238px;
    height: 222px;
    background-position: -12614px 0;
}

.sacrifice-BirdIdleGhost0055 {
    width: 238px;
    height: 222px;
    background-position: -12852px 0;
}

.sacrifice-BirdIdleGhost0056 {
    width: 238px;
    height: 222px;
    background-position: -13090px 0;
}

.sacrifice-BirdIdleGhost0057 {
    width: 238px;
    height: 222px;
    background-position: -13328px 0;
}

.sacrifice-BirdIdleGhost0058 {
    width: 238px;
    height: 222px;
    background-position: -13566px 0;
}

.sacrifice-BirdIdleGhost0059 {
    width: 238px;
    height: 222px;
    background-position: -13804px 0;
}

.sacrifice-BirdIdleGhost0060 {
    width: 238px;
    height: 222px;
    background-position: -14042px 0;
}

.sacrifice-BirdIdleGhost0061 {
    width: 238px;
    height: 222px;
    background-position: -14280px 0;
}

.sacrifice-BirdIdleGhost0062 {
    width: 238px;
    height: 222px;
    background-position: -14518px 0;
}

.sacrifice-BirdIdleGhost0063 {
    width: 238px;
    height: 222px;
    background-position: -14756px 0;
}

.sacrifice-BirdIdleGhost0064 {
    width: 238px;
    height: 222px;
    background-position: -14994px 0;
}

.sacrifice-BirdIdleGhost0065 {
    width: 238px;
    height: 222px;
    background-position: -15232px 0;
}

.sacrifice-BirdIdleGhost0066 {
    width: 238px;
    height: 222px;
    background-position: -15470px 0;
}

.sacrifice-BirdIdleGhost0067 {
    width: 238px;
    height: 222px;
    background-position: -15708px 0;
}

.sacrifice-BirdIdleGhost0068 {
    width: 238px;
    height: 222px;
    background-position: -15946px 0;
}

.sacrifice-BirdIdleGhost0069 {
    width: 238px;
    height: 222px;
    background-position: -16184px 0;
}

.sacrifice-BirdIdleGhost0070 {
    width: 238px;
    height: 222px;
    background-position: -16422px 0;
}

.sacrifice-BirdIdleGhost0071 {
    width: 238px;
    height: 222px;
    background-position: -16660px 0;
}

.sacrifice-BirdIdleGhost0072 {
    width: 238px;
    height: 222px;
    background-position: -16898px 0;
}

.sacrifice-BirdIdleGhost0073 {
    width: 238px;
    height: 222px;
    background-position: -17136px 0;
}

.sacrifice-BirdIdleGhost0074 {
    width: 238px;
    height: 222px;
    background-position: -17374px 0;
}

.sacrifice-BirdIdleGhost0075 {
    width: 238px;
    height: 222px;
    background-position: -17612px 0;
}

.sacrifice-BirdIdleGhost0076 {
    width: 238px;
    height: 222px;
    background-position: -17850px 0;
}

.sacrifice-BirdIdleGhost0077 {
    width: 238px;
    height: 222px;
    background-position: -18088px 0;
}

.sacrifice-BirdIdleGhost0078 {
    width: 238px;
    height: 222px;
    background-position: -18326px 0;
}

.sacrifice-BirdIdleGhost0079 {
    width: 238px;
    height: 222px;
    background-position: -18564px 0;
}

.sacrifice-BirdIdleGhost0080 {
    width: 238px;
    height: 222px;
    background-position: -18802px 0;
}

.sacrifice-BirdIdleGhost0081 {
    width: 238px;
    height: 222px;
    background-position: -19040px 0;
}

.sacrifice-BirdIdleGhost0082 {
    width: 238px;
    height: 222px;
    background-position: -19278px 0;
}

.sacrifice-BirdIdleGhost0083 {
    width: 238px;
    height: 222px;
    background-position: -19516px 0;
}

.sacrifice-BirdIdleGhost0084 {
    width: 238px;
    height: 222px;
    background-position: -19754px 0;
}

.sacrifice-BirdIdleGhost0085 {
    width: 238px;
    height: 222px;
    background-position: -19992px 0;
}

.sacrifice-BirdIdleGhost0086 {
    width: 238px;
    height: 222px;
    background-position: -20230px 0;
}

.sacrifice-BirdIdleGhost0087 {
    width: 238px;
    height: 222px;
    background-position: -20468px 0;
}

.sacrifice-BirdIdleGhost0088 {
    width: 238px;
    height: 222px;
    background-position: -20706px 0;
}

.sacrifice-BirdIdleGhost0089 {
    width: 238px;
    height: 222px;
    background-position: -20944px 0;
}
